[submodule "modules/midend"]
	path = modules/midend
	url = https://github.com/BUPT-a-out/midend.git
[submodule "modules/riscv64"]
	path = modules/riscv64
	url = https://github.com/BUPT-a-out/backend.git
[submodule "modules/frontend"]
	path = modules/frontend
	url = https://github.com/BUPT-a-out/frontend.git
